{% extends "base.html" %} {% block content %}
<div class="row mt-4">
  <h1 class="fst-italic text-center">Task List</h1>

  <div class="d-grid gap-2 col-6 mx-auto">
    <ul class="list-group">
      {% for task in tasks %}
      <li class="list-group-item">
        {{ task.title }} {% if task.completed %}
        <span class="badge bg-success rounded-pill m-1">Completed</span> {% endif %}
        <div class="col col-lg-2 mt-1">
          <a class="btn btn-danger" href="{% url 'delete_task' task.id %}">Delete</a>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}